USE [master]
GO

/****** Object:  Database [Books-2]    Script Date: 21.8.2019 20:11:31 ******/
CREATE DATABASE [Books-2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Books-2', FILENAME = N'D:\Microsoft SQL Server\Data\Books-2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Books-2_log', FILENAME = N'D:\Microsoft SQL Server\Data\Books-2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Books-2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [Books-2]
GO

USE [Books-2]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 21.8.2019 20:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[DateOfDeath] [date] NULL,
 CONSTRAINT [PK_Authors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Awards]    Script Date: 21.8.2019 20:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[ID] [int] NOT NULL,
	[AwardName] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nominations]    Script Date: 21.8.2019 20:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nominations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[AwardID] [int] NOT NULL,
	[YearNominated] [int] NULL,
	[IsWinner] [bit] NULL,
 CONSTRAINT [PK_Nominations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Novels]    Script Date: 21.8.2019 20:09:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Novels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[AuthorID] [int] NOT NULL,
	[IsRead] [bit] NULL,
 CONSTRAINT [PK_HugoNovels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([ID], [Name], [DateOfBirth], [DateOfDeath]) VALUES (78, N'Edgar Rice Burroughs', CAST(N'1951-01-01' AS Date), NULL)
INSERT [dbo].[Authors] ([ID], [Name], [DateOfBirth], [DateOfDeath]) VALUES (79, N'E. E. Smith', CAST(N'1951-01-01' AS Date), NULL)
INSERT [dbo].[Authors] ([ID], [Name], [DateOfBirth], [DateOfDeath]) VALUES (80, N'Jack Williamson', CAST(N'1951-01-01' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[Authors] OFF
INSERT [dbo].[Awards] ([ID], [AwardName]) VALUES (1, N'Hugo')
INSERT [dbo].[Awards] ([ID], [AwardName]) VALUES (2, N'Nebula')
SET IDENTITY_INSERT [dbo].[Nominations] ON 

INSERT [dbo].[Nominations] ([ID], [BookID], [AwardID], [YearNominated], [IsWinner]) VALUES (1, 1, 2, 1981, 0)
INSERT [dbo].[Nominations] ([ID], [BookID], [AwardID], [YearNominated], [IsWinner]) VALUES (2, 2, 1, 1946, 0)
INSERT [dbo].[Nominations] ([ID], [BookID], [AwardID], [YearNominated], [IsWinner]) VALUES (3, 3, 1, 1969, 0)
GO
SET IDENTITY_INSERT [dbo].[Nominations] OFF
SET IDENTITY_INSERT [dbo].[Novels] ON 

INSERT [dbo].[Novels] ([ID], [Title], [AuthorID], [IsRead]) VALUES (1, N'Radix', 499, 0)
INSERT [dbo].[Novels] ([ID], [Title], [AuthorID], [IsRead]) VALUES (2, N'The World of Null-A', 83, 0)
INSERT [dbo].[Novels] ([ID], [Title], [AuthorID], [IsRead]) VALUES (3, N'Rite of Passage', 150, 0)
GO
SET IDENTITY_INSERT [dbo].[Novels] OFF
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Awards] FOREIGN KEY([AwardID])
REFERENCES [dbo].[Awards] ([ID])
GO
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Awards]
GO
ALTER TABLE [dbo].[Nominations]  WITH CHECK ADD  CONSTRAINT [FK_Nominations_Novels] FOREIGN KEY([BookID])
REFERENCES [dbo].[Novels] ([ID])
GO
ALTER TABLE [dbo].[Nominations] CHECK CONSTRAINT [FK_Nominations_Novels]
GO
ALTER TABLE [dbo].[Novels]  WITH CHECK ADD  CONSTRAINT [FK_HugoNovels_Authors] FOREIGN KEY([AuthorID])
REFERENCES [dbo].[Authors] ([ID])
GO
ALTER TABLE [dbo].[Novels] CHECK CONSTRAINT [FK_HugoNovels_Authors]
GO
