<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="card customCardStyles">

    <h2>Register</h2>

    <br />

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text customLable" id="basic-addon1">Username</span>
      </div>
      <input type="text"
             class="form-control"
             aria-label="Username"
             aria-describedby="basic-addon1"
             formControlName="username">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text customLable" id="basic-addon1">Password</span>
      </div>
      <input type="password"
             class="form-control"
             aria-label="Password"
             aria-describedby="basic-addon1"
             formControlName="password">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text customLable" id="basic-addon1">Confirm Password</span>
      </div>
      <input type="password"
             class="form-control"
             aria-label="Confirm Password"
             aria-describedby="basic-addon1"
             formControlName="confirmPassword">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text customLable" id="basic-addon1">First Name</span>
      </div>
      <input type="text"
             class="form-control"
             aria-label="First Name"
             aria-describedby="basic-addon1"
             formControlName="firstName">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text customLable" id="basic-addon1">Last Name</span>
      </div>
      <input type="text"
             class="form-control"
             aria-label="Last Name"
             aria-describedby="basic-addon1"
             formControlName="lastName">
    </div>


    <button type="submit" class="btn btn-primary form-control">Register</button>

  </div>

</form>
